:root {
  /* ======== PRIMARY ======== */
  --bright-blue: hsl(220, 98%, 61%);
  --gradient-color-1: hsl(192, 100%, 67%);
  --gradient-color-2: hsl(280, 87%, 65%);

  /* ======== NEUTRAL:- LIGHT THEME ======== */
  --light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue-light: hsl(233, 11%, 84%);
  --dark-grayish-blue-light: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* ======== NEUTRAL:- DARK THEME ======== */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-ds-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);

  /* ======== FONT-SIZE ======== */
  --font-size-base: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-base);
  font-family: "Josefin Sans", sans-serif;
  /* background-color: var(--very-dark-blue); */
  background: var(--very-dark-blue) url(images/bg-desktop-dark.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ======== UTILITIES ======== */
.line-through {
  text-decoration: line-through;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
}

header {
  color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  letter-spacing: 10px;
}

.toggle-theme {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

/* ======== FORM ======== */
form {
  margin-top: 3rem;
  background-color: var(--very-dark-ds-blue);
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 1.5rem;
}

.rounded-corner {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  width: 100%;
  height: 100%;
}

form label {
  width: 100%;
  display: flex;
  align-items: center;
}

.enter-todos-input {
  flex-grow: 1;
  height: 80px;
  font-size: 16px;
  padding: 0 1rem;
  border: 0;
  color: var(--light-gray);
  background-color: var(--very-dark-ds-blue);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.enter-todos-input:focus {
  outline: 0;
}

/* ======== TODOS WRAPPER ======== */
.todos-wrapper {
  position: relative;
  margin-top: 2rem;
  list-style: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: var(--very-dark-ds-blue);
}

.todos-wrapper .todo-item {
  padding: 1.5rem;
  color: var(--light-grayish-blue-dark);
  font-size: 16px;
  border-bottom: solid 1px var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
}

.todos-wrapper .todo-item:hover .delete-todo-btn {
  cursor: pointer;
  opacity: 1;
}

.todo-item .todo {
  margin-left: 1rem;
  flex-grow: 1;
  transition: 0.3s ease-in;
}

.todo-item .checkbox {
  /* position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.6);
  cursor: pointer; */

  transform: scale(2);
  opacity: 0;
  z-index: 3;
}

.todo-item .check {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  z-index: 1;
}

.todo-item .completed {
  text-decoration: line-through;
}
.delete-todo-btn {
  opacity: 0;
  background: none;
  cursor: pointer;
  border: 0;
  transition: 0.3s ease-in;
}

.todo-item .checkbox:checked + .check {
  background: url(images/icon-check.svg),
    linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
  background-repeat: no-repeat;
  background-position: center;
}

.footer-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: var(--dark-grayish-blue-light);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--very-dark-ds-blue);
}

.footer-control .filter-options {
  display: flex;
  align-items: center;
}

.filter-options .filter-btns,
.clear-completed-todos {
  background: none;
  border: 0;
  padding: 0;
  color: var(--dark-grayish-blue-dark);
  margin-left: 1rem;
  cursor: pointer;
}

.filter-options .filter-btns:hover,
.clear-completed-todos:hover {
  color: var(--light-grayish-blue-light);
}

.is-toggled {
  color: var(--bright-blue);
}
